{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <nav>
            <div>
                <div>   
                    <div>
                        <div>
                            <img class="h-99999999" src="{% static 'myapp/images/Store.png'%}" alt="logo"/>
                            <span class="text-xl"> Pro store </span>                       
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <h4>
            {% for item in items %}
            <a href="{%url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Название: {{item.name}} | Цена: {{item.price}} | {{item.description}} <br/>
            </a>
            {% endfor %}
        </h4>
    </body>
</html>
